/* page
/* --------------------------------------------- */

.page {
	position: relative;

	&__header {

	}

	&__body{
		&_bordered {
		border-top: 1px solid $border_color;
		padding-top: 25px;
		}
	}

	&__section {
		@mixin center;
		@mixin space;
		margin-bottom: 30px;
		&_columns {
			display: flex;
			@media screen and (width <= $mq_m_menu) {
				flex-direction: column;
			}
		}
	}

	&__sidebar {
		width: 20%;
		box-sizing: border-box;
		padding-right: 20px;
		margin-bottom: 30px;
		@media screen and (width <= $mq_m_menu) {
			width: auto;
		}

		&_empty {
			margin: 0;
			padding: 0;
			
		}
	}

	&__mainbar {
		width: 80%;
		box-sizing: border-box;
		@media screen and (width <= $mq_m_menu) {
			width: auto;
		}
	}

	&__footer {
		position: relative;
		//background: #f1acf2
	}
	
}
	
	
/* page
/* ---------------------------------------END--- */


/* bg-section
/* --------------------------------------------- */

.bg-section {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	width: 100%;
	max-width: 1920px;
	height: 0;
	padding-top: calc((360/1280)* 100%);
	margin-bottom: 30px;
	@media screen and (width >= $page_w_big) {
		padding-top: 0;
		height: 360px;
	}
	@media screen and (width <= $mq_m-less) {
		height: 270px;
		padding-top: 0;
	}
	@media screen and (width <= $mq_smr) {
		height: 230px;
		padding-top: 0;
	}

	&__body {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		color: $color_h;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
}

/* bg-section
/* ---------------------------------------END--- */


/* header
/* --------------------------------------------- */

.header {
	position: relative;
	background: #fff;

	&__body {
		position: relative;
		@mixin space;
		@mixin center;
		padding-top: 26px;
		padding-bottom: 6px;

		@media screen and (width <= $mq_m_menu) {
			padding-bottom: 15px;
		}
	}
		
}

/* header
/* ---------------------------------------END--- */


/*  header-cols
------------------------------------------------ */

	.header-cols {
		display: flex;
		width: 100%;
		@media screen and (width <= $mq_m_menu) {
			width: auto;
			flex-wrap: wrap;
		}
		&__i {
			&_first {
				@extend font-tahoma;
				font-size: 12px;
				width: 15%;
				@media screen and (width <= $mq_m_menu) {
					order: 3;
					display: flex;
					justify-content: center;
					flex-direction: column;
					font-size: 16px;
				}
				@media screen and (width <= $mq_sm-less) {
					width: 100% !important;
					padding-right: 0;
					padding-bottom: 10px;
				}
			}
			&_middle {
				width: 70%;
				@media screen and (width <= $mq_m_menu) {
					padding-right: 25px;
					order: 1;
				}

				@media screen and (width <= $mq_m-less-more) {
					width: 100% !important;
					padding-bottom: 25px;
					padding-right: 0;
				}
			}
			&_last {
				width: 15%;
				@media screen and (width <= $mq_m_menu) {
					order: 2;
					padding-right: 25px;
					display: flex;
					justify-content: center;
					flex-direction: column;

				}
				@media screen and (width <= $mq_sm-less) {
					width: 100% !important;
					padding-right: 0;
					padding-bottom: 20px;
				}
			}

			@media screen and (width <= $mq_m_menu) {
				width: auto;
			}
		}
	}
	
/* header-cols
------------------------------------------END--- */


/*  logo
------------------------------------------------ */

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.2;
		border-bottom: none;
		@media screen and (width <= $mq_m_menu) {
			flex-direction: column;
		}
		&:hover &__slogan {
			color: $link-color_hover;
			}
		&__slogan {
			text-align: right;
			font-size: 16px;
			color: $text_color_light;
			transition: color $animation-time;
			@media screen and (width <= $mq_m_menu) {
				order: 2;
			}
		}
		&__logo {
			padding: 0 15px;
			@media screen and (width <= $mq_m_menu) {
				padding: 10px 0;
				order: 1;
			}
		}
		&__location {
			text-align: left;
			font-size: 18px;
			@extend font-cyr;
			@media screen and (width <= $mq_m_menu) {
				order: 3;
			}
		}
		&__img {
			display: block;
			@media screen and (width <= $mq_m_menu) {
				width: 80px;
			}
		}
	}
	
/* logo
------------------------------------------END--- */


/*  lang-switcher
------------------------------------------------ */

	.lang-switcher {
		margin-bottom: 30px;
		@media screen and (width <= $mq_m_menu) {
			margin-bottom: 5px;
		}

		&__i {
			position: relative;
			display: inline-block;
			line-height: 1.3;
			@mixin link_u $link-color, $link-color_hover;
			&.is-active {
				color: $text_color_light;
				@mixin link_u $text_color_light, $link-color_hover;
			}
		}

		&__separator {
			display: inline-block;
		}
	}
	
/* lang-switcher
------------------------------------------END--- */


/*  main-site-link
------------------------------------------------ */

	.main-site-link {
		&__link {
			@mixin link_u $link-color, $link-color_hover;
		}
	}
	
/* main-site-link
------------------------------------------END--- */


/*  auth-links
------------------------------------------------ */

	.auth-links {
		margin-bottom: 22px;
		font-size: 12px;
		line-height: 1.2;
		@extend font-tahoma;
		@media screen and (width <= $mq_m_menu) {
			margin-bottom: 5px;
			font-size: 16px;
			text-align: left;
		}
		
		&__i {
			display: inline-block;
			@mixin link_u $link-color, $link-color_hover;
		}
			
		&__separator {
			display: inline-block;
		}
	}
	
/* auth-links
------------------------------------------END--- */


/*  small-cart
------------------------------------------------ */

	.small-cart {
		$cartIcon_dim: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative;
		padding-left: calc($cartIcon_dim + 7);

		&__icon {
			width: $cartIcon_dim;
			height: $cartIcon_dim;
			position: absolute;
			top: 2px;
			left: 0;
			@media screen and (width <= $mq_m) {
				top: 5px;
			}
		}
	}
	
/* small-cart
------------------------------------------END--- */


/*  small-search
------------------------------------------------ */

	.small-search {
		position: relative;
		&__input {
			border: 1px solid $text_color_light;
			height: 27px;
			box-sizing: border-box;
			padding: 0 35px 0 9px;
			width: 100%;
			@extend font-tahoma;
			font-size: 12px;
			@media screen and (width <= $mq_m_menu) {
				font-size: 16px;
				height: 40px;
				padding-right: 40px;
			}
		}
		&__button {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 27px;
			background: none;
			border: none;
			outline: none;
			@media screen and (width <= $mq_m_menu) {
				width: 40px;
				height: 45px;
			}
		}
		&__icon {
			width: 14px;
			height: 14px;
			position: relative;
			top: 3px;
			color: $main_color;
			@media screen and (width <= $mq_m_menu) {
				width: 20px;
				height: 20px;
			}
		}
	}
	
/* small-search
------------------------------------------END--- */


/* txt-center
/* --------------------------------------------- */

.txt-center {
	text-align: center
}

/* txt-center
/* ---------------------------------------END--- */


/* footer
/* --------------------------------------------- */

.footer {
	color: #505050;

	&__body {
		@mixin center;
		@mixin space;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	

}

/* footer
/* ---------------------------------------END--- */


/*  contacts
------------------------------------------------ */

	.contacts {
		background: $main_color_light;
		
		a {
			@mixin link_u #fff, #505050;
		}

		&__body {
			padding-top: 34px;
			margin-bottom: 34px;
			@mixin center;
			@mixin space;
			display: flex;
			@media screen and (width <= $mq_smr) {
				display: block;
			}
		}

		&__i {
			box-sizing: border-box;
			width: 50%;
			&_contacts {
				width: calc( (100%/3)*2 );
				padding-right: 10px;
				@media screen and (width <= $mq_sm) {
					width: 50%;
				}
				@media screen and (width <= $mq_smr) {
					width: 100%;
					padding-right: 0;
				}
			}

			&_socials {
				width: calc( 100%/3 );
				padding-left: 10px;
				@media screen and (width <= $mq_sm) {
					width: 50%;
				}
				@media screen and (width <= $mq_smr) {
					width: 100%;
					padding-left: 0;
				}
			}
		}

		&__h {
			@extend font-cyr;
			color: #fff;
			font-size: 24px;
			margin-bottom: 12px;
		}

		&__h-sub {
			margin-bottom: 12px;
			font-size: 16px;
			color: #fff;
		}
	}
	
/* contacts
------------------------------------------END--- */


/*  copyright
------------------------------------------------ */

	.copyright {
		color: $text_color_light;
		@extend font-tahoma;
		font-size: 12px;
		&__link {
			@mixin link_u $text_color_light, $link-color_hover;
		}
	}
	
/* copyright
------------------------------------------END--- */


/*  colls-nav
------------------------------------------------ */

	.colls-nav {
		@extend font-tahoma;
		font-size: 12px;
		display: flex;
		flex-wrap: wrap;
		

		&__col {
			//padding: 0 15px;
			flex-grow: 1;
			box-sizing: border-box;
			padding-right: 15px;
			margin-bottom: 30px;
		}

		&__lst {
			margin: 0;
			padding: 0;
			list-style-type: none;
			
		}

		&__i {
			margin: 0;
			padding: 0;
			
			&_h {
				font-size: 16px;
			}
		}
		
		&__i_h &__a &__txt {
			border-bottom: none;
			color: $main_color;
		}

		&__a {
			padding: 3px 0;
			display: block;
			border-bottom: none;
		}

		&__a:hover &__txt {
			
			color: $link-color_hover;
			border-bottom-color: color($link-color_hover alpha($link-border-color_alpha));
		}

		&__txt {
			transition: color $animation-time, border-bottom-color $animation-time;
			display: inline;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			@mixin link_u $text_color, $link-color_hover;
		}
	}
	
/* colls-nav
------------------------------------------END--- */


/*  list-of-el
------------------------------------------------ */

	.list-of-el {
		margin: 0 0 30px 0;
		padding: 0;
		list-style-type: none;
		&__i {
			margin: 0;
			padding: 0;
			
		}
	}
	
/* list-of-el
------------------------------------------END--- */


/*  socials
------------------------------------------------ */

	.socials {
		margin: 20px 0 20px 0;
		padding: 0;
		list-style-type: none;
		&__i {
			display: inline-block;
			margin-right: 24px;
		}
		&__a {
			display: block;
			border-bottom: none !important;
		}
	}
	
/* socials
------------------------------------------END--- */


/* txt-to-center
/* --------------------------------------------- */

.txt-to-center {
	text-align: center;
}

/* txt-to-center
/* ---------------------------------------END--- */


/* input
/* --------------------------------------------- */

textarea.input {
	height: 80px;
	padding: 10px;
}

.input {
	@extend font-tahoma;
	width: 290px;
	height: 28px;
	background: #fff;
	color: $text_color;
	padding: 0 10px;
	font-size: 14px;
	transition-property: box-shadow, border-color;
	border: 1px solid $border_color;
	transition-duration: $animation-time;
	box-sizing: border-box;

	@media screen and (width <= $mq_sm-less) {
		width: 100%;
		height: 40px;
		font-size: 16px;
	}

	&_w_fluid {
		width: 100%;
	}

	&_error {
		border-color: $color_imp;
	}

	&:focus {
		outline: 0 !important;
		box-shadow: 0 0 10px $focus_color;
	}
}

/* input
/* ---------------------------------------END--- */


/* button
/* --------------------------------------------- */

.button {
	@extend font-tahoma;
	user-select: none;
	position: relative;
	display: inline-block;
	overflow: visible;
	border: none;
	color: $main_color !important;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
	font-size: 14px;
	padding: 3px 6px;
	background-color: #fff;
	border: 1px solid $main_color;
	box-sizing: border-box;
	border-radius: 3px;
	transition: background $animation-time, color $animation-time;
	transition-timing-function: ease-out;
	
	&:hover {
		background: $main_color;
		transition: background $animation-time, color $animation-time;
		color: #fff !important;
	}

	&:active {
		box-shadow: inset 0px 3px 7px color(#000 alpha(20%));
	}

	&_disabled {
		border-color: $text_color_light;
		color: $text_color_light !important;
		background: #fff;

		&:hover {
			background: #fff !important;
			color: $text_color_light !important;
		}

		&:active {
			box-shadow: none;
		}
	}
}

/* button
/* ---------------------------------------END--- */


/* main-nav
/* --------------------------------------------- */

.main-nav {
	@mixin clearfix;
	text-align: center;
	position: relative;
	@extend font-cyr;
	transition: box-shadow $animation-time_slow, background $animation-time_slow;

	@media screen and (width <= $mq_m_menu) {
		display: table;
		text-align: center;
		vertical-align: middle;
		position: fixed;
		top: 0;
		width: 100%;
		right: 0;
		height: 100vh;
		margin-right: 100%;
		visibility: hidden;
		opacity: 0;
		z-index: 1000;
		background: color($main_color alpha(85%));
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
	}

	// animation only when clicking navigate button
	// not when the window reiszes
	&.is-animate {
		transition: 
			opacity $animation-time_slow, 
			visibility $animation-time_slow, 
			margin-right $animation-time_slow;
	}

	&.is-scrolled {
		position: fixed;
		z-index: 1000;
		top: 0;
		right: 0;
		left: 0;
		background: color($main_color_light alpha(85%));
		box-shadow: 0 0 15px color(#000 alpha(60%));
		@media screen and (width <= $mq_m_menu) {
			box-shadow: none;
		}
	}

	&.is-open {
		@media screen and (width <= $mq_m_menu) {
			visibility: visible;
			margin-right: 0;
			opacity: 1;
			transition: opacity .7s, visibility .7s, margin-right .7s;
			transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}


	&__body {
		@mixin space;
		@mixin center;
		@media screen and (width <= $mq_m_menu) {
			position: relative;
			z-index: 2;
			display: table-cell;
			vertical-align: middle;
		}
	}	

	&__lst {
		padding: 0;
		list-style-type: none;
		position: relative;
		z-index: 1;
		font-size: 24px;
		display: table;
		margin: 0 auto;
		width: 100%;

		@media screen and (width <= $mq_m_menu) {
			display: inline-block;
			width: 100%;
			font-size: 25px;
		}

		@media screen and (width <= $mq_sm_menu) {
			font-size: 20px;
		}
	}
		
		
	&__i {
		margin: 0;
		padding: 0;
		display: table-cell;
		text-align: center;
		@media screen and (width <= $mq_m_menu) {
			display: block;
		}
	}

	&__i:first-child &__a {
		@media screen and (width >= $mq_m_menu--more) {
			text-align: left;
			padding-left: 0;
		}
	}

	&__i:last-child &__a {
		@media screen and (width >= $mq_m_menu--more) {
			text-align: right;
			padding-right: 0;
		}
	}
	
	&.is-scrolled &__a {
		color: #fff;
	}

	&.is-scrolled .is-active > &__a {
		color: $text_color_dark;
	}

	&__a {
		display: block;
		color: $main_color;
		border-bottom: none;
		padding: 8px 15px;
		transition: background $animation-time, color $animation-time;
		border-bottom: none;

		@media screen and (width <= $mq_d_menu) {
			padding: 8px 15px;
		}

		@media screen and (width <= $mq_m_menu) {
			line-height: 1;
			padding: 15px;
			color: #fff !important;
		}	
		
		.is-active > & {
			//background: $main_color
			color: $text_color_light;
			@media screen and (width <= $mq_m_menu) {
				background: none;
				color: $text_color_dark !important;
			}
		}

		&:hover {
			@media screen and (width <= $mq_m_menu) {
				color: #fff;
				background: $main_color;
			}
		}
	}

	
}

/* main-nav
/* ---------------------------------------END--- */


/* nav-control
/* --------------------------------------------- */

.nav-control {
	display: none;
	position: fixed;
	z-index: 1001;
	top: 34px;
	right: 10px;
	width: $navigation_w_sm;
	height: $navigation_h_sm;
	//background: yellow;
	cursor: pointer;

	@media screen and (width <= $mq_m_menu) {
		display: block;
		top: 10px;
	}

	@media screen and (width <= $mq_sm) {
		top: 10px;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@extend trans;
		transition: left .1s, visibility .1s, margin-right .1s;
	}

	&.is-animate:before {
		left: 100%;
	}

	&.is-open {
		position: fixed;
		top: 34px;

		@media screen and (width <= $mq_m_menu) {
			top: 10px;
		}

		@media screen and (width <= $mq_sm) {
			top: 10px;
		}	
	}

	&__body {
		position: absolute;
		width: 38px;
		height: 28px;
		top: 50%;
		margin-top: -15px;
		left: 50%;
		margin-left: -19px;
		//background: red;
	}

	&__i {
		width: 38px;
		height: 3px;
		background: #fff;
		position: absolute;
		right: 0;
		transition-duration: $animation-time;
		transform-origin: left center;
	}

	&__i_top {

	}
			
	&.is-open &__i_top {
		top: -1px;
		transform: rotate(45deg);
	}

	&__i_middle {
		top: 13px;
		right: 0;
	}
		
	&.is-open &__i_middle {
		right: -15px;
		opacity: 0;
	}
		
	&__i_bottom {
		bottom: 0;
	}
		
	&.is-open &__i_bottom {
		bottom: -1px;
		transform: rotate(-45deg);
	}
}

/* nav-control
/* ---------------------------------------END--- */


/* svg-icons
/* --------------------------------------------- */

#svg-icons {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -100;
}

/* svg-icons
/* ---------------------------------------END--- */


/* trans-button
/* --------------------------------------------- */

.trans-button {
	@extend font-cyr;
	font-size: 24px;
	padding: 10px 14px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	border-radius: 2px;
	transition: background $animation-time;
	transition-timing-function: ease-out;

	@media screen and (width <= $button_m) {
		font-size: 17px;
		padding: 6px 10px;
	}

	&__txt {
		transition: color $animation-time, border-bottom-color $animation-time;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: color(#fff alpha($link-border-color_alpha));
		color: #fff;
		line-height: 1.1;
	}

	&_bg {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@extend trans;
			z-index: -1;
		}
	}

	&:hover {
		background: $main_color_light;
	}
}


/* trans-button
/* ---------------------------------------END--- */


/* go-to-top
/* --------------------------------------------- */

.go-to-top {
	z-index: 100;
	width: 60px;
	height: 60px;
	border: 3px solid $main_color;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	border-radius: 50%;
	transition: opacity $animation-time;
	box-sizing: border-box;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		opacity: 0.45;
		border-radius: 50%;
		transition: opacity $animation-time;
	}

	&:hover {
		&:after{
			opacity: 1;
		}
	}

	&:before {
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 15px 9px;
		border-color: transparent transparent $main_color transparent;
		@media screen and (width <= $mq_smr) {
			border-width: 0 6px 10px 6px
		}
	}

	&.is-hidden {
		opacity: 0;
	}
	
	@media screen and (width <=$mq_smr ) {
		width: 40px;
		height: 40px;
		border-width: 2px;
	}
}

/* go-to-top
/* ---------------------------------------END--- */


/* slider
/* --------------------------------------------- */

.slider {
	max-width: $page_w_big;
	margin: auto;
	margin-bottom: 30px;
	position: relative;

	@media screen and (width <= $mq_sm) {
		margin-bottom: 0;
	}

	&__lst {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
		
	&__i {
		margin: 0;
		padding: 0;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		@media screen and (width <= $promo_fix-h) {
			background-size: cover;
		}
	}

	&__legend {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		display: block;
		border-bottom: none;
		&,
		&:hover {
			color: #fff;
			}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@extend trans;
			//background: #000;
			transition: background $animation-time;
		}

		&:hover:after {
			background: $main_color_light;
		}
		
	}

	&__legend-inner {
		position: relative;
		z-index: 1;
		@mixin center;
		@mixin space;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;

		@media screen and (width <= $mq_m) {
			display: block;
		}
	}

	&__legend-date {
		width: 200px;
		color: $text_color_dark;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;

		@media screen and (width <= $mq_sm) {
			font-size: 12px;
		}
	}

	&__legend-h {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 5px;
		font-style: normal;

		@media screen and (width <= $mq_sm) {
			font-size: 16px;
		}
	}

	&__legend-txt {
		line-height: 1.2;
		font-style: italic;
	}
		

	&__body {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 2;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		visibility: hidden;
	}

	.bx-wrapper .bx-viewport {
		@media screen and (width <= $promo_fix-h) {
			background-size: cover;
		}
	}

	
	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100px;
		z-index: 101;
		overflow: hidden;
		text-indent: -999px;
		//background: red;
		display: block;
		//display: none;
		border-bottom: none;

		@media screen and (width <= $mq_sm) {
			display: none;
		}

		&:hover .slider__prev,
		&:hover .slider__next {
			opacity: 1
		}

		.slider__prev,
		.slider__next {
			opacity: 0.45;
			color: $main_color;
			display: none !important;
			width: 90px;
			height: 100px;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			z-index: 1000;
			transition: opacity $animation-time;
		}
		.slider__prev {
			transform: rotate(180deg);
			left: 20px;
		}
		
		.slider__next {
			right: 20px;
		}
	}

	.bx-wrapper .bx-prev {
		left: 0;
	}
	.bx-wrapper .bx-next {
		right: 0;
	}

	.bx-prev-next__ctrl {
		display: block;
		width: 60px;
		height: 60px;
		//background: yellow;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		box-sizing: border-box;
		border: 3px solid $main_color;
		opacity: .6;
		transition: opacity $animation-time;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top:-9px;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 16px 9px 0;
			border-color: transparent $main_color transparent transparent;

		}
	}


	.bx-wrapper .bx-next .bx-prev-next__ctrl {
		&:after {
			transform: rotate(180deg);
			margin-left: -6px;
		}
	}

	.bx-prev:hover .bx-prev-next__ctrl,
	.bx-next:hover .bx-prev-next__ctrl {
		opacity: 1;
	}

	.bx-wrapper .bx-controls,
	.bx-wrapper .bx-controls-direction {
		position: absolute;
		top: 50%;
		height: 100px;
		margin-top: -50px;
		right: 0;
		left: 0;
	}
		

	.bx-wrapper .bx-controls-direction {

	}
		
	.bx-wrapper .bx-pager {
		display: none;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 100%;
		margin-top: -50px;
		left: 0;
		right: 0;
		height: 50px;
		z-index: 102;

		@media screen and (width <= $promo_fix-h) {
			text-align: right;
		}

		@media screen and (width <= $mq_smr) {
			text-align: left;
			padding-left: 10px;
			margin-top: -40px;
			box-sizing: border-box;
		}
	}
		
	.bx-pager-item {
		display: inline-block;
		position: relative;
		top: 10px;
	}

	.bx-pager-link {
		box-sizing: border-box;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 10px;
		border-radius: 50%;
		border: none;
		background: $main_color;
		transition: background $animation-time;
		overflow: hidden;
		text-indent: -999px;
		font-size: 0;
	}

	.active,
	.bx-pager-link:hover {
		background: color($main_color lightness(40%));
	}

}


/* slider
/* ---------------------------------------END--- */


/*  slider-legend
------------------------------------------------ */

	.slider-legend {
		@mixin space;
		padding-top: 10px;
		text-align: center;
		font-style: italic;
		line-height: 1.2;
		display: none;
		margin-bottom: 30px;
		@media screen and (width <= $mq_sm) {
			display: block;
		}
	}
	
/* slider-legend
------------------------------------------END--- */


/* teasers
/* --------------------------------------------- */

.teasers {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	&_space-bottom_none {
		margin-bottom: -25px;
	}
	
	&_two &__i {
		width: calc(100%/2);
		@media screen and (width <= $mq_sm) {
			margin-bottom: 25px;
			width: 100%;
		}
		@media screen and (width <= $mq_smr) {
			margin-bottom: 25px;
			width: 100%;
		}
	}

	&__i {
		width: calc(100%/3);
		padding: 0 10px;
		margin-bottom: 25px;
		box-sizing: border-box;
		@media screen and (width <= $mq_sm) {
			margin-bottom: 25px;
			width: calc(100%/2);
		}
		@media screen and (width <= $mq_smr) {
			margin-bottom: 25px;
			width: 100%;
		}
	}

	&__a {
		display: block;
		border-bottom: none;
	}

	&__img {
		display: block;
		margin-bottom: 10px;
	}
	
	&__a:hover &__legend {
		color: $link-color_hover;
		border-bottom-color: color($link-color_hover alpha($link-border-color_alpha) !important);
	}

	&__legend {
		display: inline;
		text-align: center;
		transition: color $animation-time, border-bottom-color $animation-time;
		@mixin link_u $text_color, $link-color_hover;

		&_layout_top {
			margin-bottom: 15px;
			font-weight: bold;
		}
	}

	&__description {
		text-align: left;
	}

	&__date {
		color: $text_color_light;
		padding-top: 3px;
	}
}

/* teasers
/* ---------------------------------------END--- */


/*  section-link
------------------------------------------------ */

	.section-link {
		@mixin link_u $text_color, $link-color_hover;
	}
	
/* section-link
------------------------------------------END--- */


/*  nav-list
------------------------------------------------ */

	.nav-list {
		$link-margin: 7px;
		font-size: 13px;
		@extend font-tahoma;
		@media screen and (width <= $mq_m_menu) {
			margin: 0 -$link-margin;
			
		}

		&__separator {
			height: 1px;
			background: $border_color;
			margin: 28px 0;
		}

		&__lst {
			margin: 0;
			padding: 0;
			list-style-type: none;

			&_sub {
				margin-left: 10px;
				@media screen and (width <= $mq_m_menu) {
					border: 1px solid $border_color;
					margin-bottom: 10px;
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}

		&__i {
			margin: 0;
			padding: 0;
			display: block;

			@media screen and (width <= $mq_m_menu) {
				display: inline-block;

			}
		}
		&_no-bordered &__txt {
			border-bottom: none;
		}
		&__a {
			display: inline-block;
			border-bottom: none;
			padding: 5px $link-margin;
			margin: 3px;
			line-height: 1.2;


			.is-active > & {
				background: $main_color;
				
			}
		}
		
		&__i.is-active &__txt {
			color: #fff;
			border-bottom: none;
		}

		&__txt {
			transition: color $animation-time, border-bottom-color $animation-time;
			display: inline;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			@mixin link_u $text_color, $link-color_hover;
		}
	}
	
/* nav-list
------------------------------------------END--- */


/*  breadcrumbs
------------------------------------------------ */

	.breadcrumbs {
		margin: 0 0 16px 0;
		padding: 0;
		list-style-type: none;
		font-size: 12px;
		@extend font-tahoma;

		&__i {
			margin: 0;
			padding: 0;
			display: inline-block;
			&:after {
				content: '/';
				display: inline-block;
				margin: 0 0 0 7px;
				
			}
		}
	}
	
/* breadcrumbs
------------------------------------------END--- */


/*  columns
------------------------------------------------ */

	.columns {
		display: flex;
		width: 100%;

		&__i {
			box-sizing: border-box;
			margin-bottom: $content_bot_space;
		}
		
		&_two {
			@media screen and (width <= $mq_m-less-more) {
				display: block;
			}
		}

		&_two &__i {
			width: 50%;
			@media screen and (width <= $mq_m-less-more) {
				width: auto;
				padding: 0 !important;
			}
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
		}

	}
	
/* columns
------------------------------------------END--- */


/*  scroll-x
------------------------------------------------ */

	.scroll-x {
		display: block;
		overflow-x: auto;
		margin-bottom: calc($content_bot_space * 2);
		& &__table {
			margin-bottom: 0;
		}
	}
	
/* scroll-x
------------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table {
	width: 100%;
	margin-bottom: calc($content_bot_space * 2);
	@extend font-tahoma;
	font-size: 14px;

	&.small-only {
		display: none;
		@media screen and (width <= $mq_sm) {
			display: table;
		}
	}
		

	&.large-only {
		@media screen and (width <= $mq_sm) {
			display: none;
		}
	}

	&.small-only {
		border: 1px solid #dfdfdf;
		margin-bottom: calc($content_bot_space * 2);

		&:first-child {
			display: none;
		}

		&:last-child {
			margin-bottom: 30px;
		}
	}

	&__h td,
	th,
	thead th {
		font-weight: bold;
		font-style: italic;
		text-align: left;
		@extend font-r;
		border-bottom: 2px solid $main_color;
		padding: 0;
	}

	& tr:nth-child(even) {
		td {
			background: #f4f3f3;
		}
	}

	& th,
	& td {
		vertical-align: middle;
		padding: 8px;
	}

	&.small-only th,
	&.small-only td {
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
	}

	.st-key {
		width: 40%;
	}

	.st-val {
		width: 60%;
	}

	&.small-only {
		
		tr {
			td {
				background: #fff;	
			}
			&:first-child {
				td {
					@extend font-r;
					font-style: italic;
					font-weight: bold;
					padding-bottom: 0;
				}
			}
		}
	}
}

/* table
/* ---------------------------------------END--- */


/*  catalog
------------------------------------------------ */

	.catalog {
		$left-margin: 64px;

		@extend font-tahoma;
		font-size: 12px;
		margin-bottom: 10px;
		
		&__body {
			display: flex;
			flex-wrap: wrap;
			margin-left: -$left-margin;

		}

		&__i {
			width: 146px;
			margin-left: $left-margin;
			margin-bottom: 30px;
		}

		&__a {
			border-bottom: none;
			display: block;
		}

		&__photo {
			margin: auto;
			width: 123px;
			height: 173px;
			margin-bottom: 24px;
		}

		&__img {
			display: block;
			max-height: 100%;
			width: auto;
		}

		&__legend {
			color: $text_color
		}

		&__a:hover &__title {
			color: $link-color_hover;
			border-bottom-color: color($link-color_hover alpha($link-border-color_alpha));
		}

		&__title {
			transition: color $animation-time, border-bottom-color $animation-time;
			display: inline;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			@mixin link_u $link-color, $link-color_hover;
		}
		
		&__button {
			margin-right: 3px;
			white-space: nowrap;
		}

		&__footer {
			padding-top: 10px;
			display: flex;
		}

		&__footer-button {
			padding-right: 3px;
			width: 1px;
		}

		&__footer-price {
			text-align: right;
			height: 26px;
			line-height: 26px;
			width: 100%;
		}

		&__price {
			display: inline-block;
			vertical-align: middle;
		}

		&__price-num {
			font-weight: bold;
		}
	}
	
/* catalog
------------------------------------------END--- */


/* page-nav
/* --------------------------------------------- */

.page-nav {
	margin-bottom: $content_bot_space;
	font-size: 12px;

	&__lst {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
		
	&__i {
		margin: 0 6px;
		padding: 0;
		display: inline-block;
	}

	&__i.is-active &__a {
		background: $main_color;
		color: #fff;

		&:hover {
			border-color: $main_color;
			}
	}
		
	&__a {
		display: block;
		border-radius: 50%;
		box-sizing: border-box;
		border: 1px solid $main_color;
		min-width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		transition: color $animation-time, border-color $animation-time;
		&:hover {
			border-color: $link-color_hover;
			}
		.is-active > & {
			border-color: $main_color;
		}
	}	
}

/* page-nav
/* ---------------------------------------END--- */


/*  section-teasers
------------------------------------------------ */

	.section-teasers {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		@extend font-tahoma;
		font-size: 14px;
		line-height: 1.2;

		&__i {
			width: calc(100% / 4);
			margin-bottom: 30px;
			padding: 0 10px;
			box-sizing: border-box;
			@media screen and (width <= $mq_sm) {
				width: calc(100% / 3);
			}
			@media screen and (width <= $mq_smr) {
				width: calc(100% / 2);
			}
			@media screen and (width <= $mq_smst) {
				width: auto;
			}
		}

		&__a {
			border-bottom: none;
		}

		&__img {
			display: block;
			margin: auto;
			margin-bottom: 10px;
		}

		&__title-wrap {
			&_center {
				text-align: center;
			}
		}

		&__a:hover &__title {
			color: $link-color_hover;
			border-bottom-color: color($link-color_hover alpha($link-border-color_alpha));
		}

		&__title {
			text-align: center;
			transition: color $animation-time, border-bottom-color $animation-time;
			display: inline;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			@mixin link_u $link-color, $link-color_hover;
		}

		&__date {
			color: $text_color;
			margin-bottom: 5px;
		}
	}
	
/* section-teasers
------------------------------------------END--- */


/*  product
------------------------------------------------ */

	.product {
		margin-bottom: 35px;

		&__parts {
			display: flex;
			@media screen and (width <= $mq_m-less-more) {
				display: block;
			}
		}
		&__gallery,
		&__legend {
			width: 50%;
			@media screen and (width <= $mq_m-less-more) {
				width: auto;
			}
		}

		&__gallery {
			
		}

		&__legend {
			padding-left: 10%;
			@media screen and (width <= $mq_m-less-more) {
				padding-left: 0;
				padding-top: 30px;
			}
		}

		&__parts {
			margin-bottom: 35px;
		}
	}
	
/* product
------------------------------------------END--- */


/*  gallery
------------------------------------------------ */

	.gallery {
		display: flex;
		&__thumbs-list {
			width: 117px;
		}
		&__photo {
			
		}
		&__thumb {
			border: 1px solid #b2b2b2;
			display: block;
			width: 50px;
			height: 50px;
			margin-bottom: 5px;
			margin-right: 5px;
		}
		&__thumb-img {
			display: block;
			width: auto;
			height: 100%;
			margin: auto;
		}
		&__img {
			display: block;
		}
	}
	
/* gallery
------------------------------------------END--- */


/*  product-legend
------------------------------------------------ */

	.product-legend {
		font-size: 14px;

		&__header {
			text-align: right;
			margin-bottom: 20px;
			@media screen and (width <= $mq_m-less-more) {
				text-align: left;
			}
		}

		&__price {
			display: inline-block;
			margin-right: 20px;
			@extend font-tahoma;
		}

		&__price-num {
			font-weight: bold;
		}

		&__select {
			width: 50px !important;
		}

		&__label {
			display: inline-block;
			padding-right: 10px;
		}

		&__action {
			text-align: right;
			margin-bottom: 30px;
			@media screen and (width <= $mq_m-less-more) {
				text-align: left;
			}
		}

		&__prop-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
			
		}

		&__prop {
			margin: 0 0 5px 0;
			padding: 0;
			display: flex;
		}

		&__prop-h {
			width: 170px;
			box-sizing: border-box;
			padding-right: 15px;
			font-weight: bold;
			line-height: 1.2;
		}

		&__prop-val {
			width: 100%;
			line-height: 1.2;
		}
	}
	
/* product-legend
------------------------------------------END--- */


/*  select
--------------------------------------------------- */

	.select {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		width: 220px;

		&__container {
			position: relative;
			display: inline-block;
			margin-right: 3px;
			}

		&__item {
			color: #000;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: inline-block;
			font-size: 13px;
			width: 100%;
			}

		&__item &__bg {
			display: block;
			padding: 0 25px 0 7px;
			line-height: 26px;
			height: 26px;
			border: 1px solid #dadada;
			border-radius: 3px;
			background: #fff;
			@extend font-tahoma;
			font-size: 12px;

			span {
				display: block;
				overflow: hidden;
				height: 27px;
				text-overflow: ellipsis;
				white-space: nowrap;
				}
			}

		&__arrow {
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -2px;
			width: 9px;
			height: 5px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 5px 0 5px;
				border-color: $main_color transparent transparent transparent;
				}
			}
	}
	
	select.select.replaced {
		position: relative;
		z-index: 10;
		height: 28px;
		border: 0;
		opacity: 0;
		@extend font-tahoma;
		font-size: 12px;
		}

/*  select
---------------------------------------------end--- */


/*  event
------------------------------------------------ */

	.event {
		font-size: 14px;
		display: flex;
		@media screen and (width <= $event_sm) {
			display: block;
		}

		&_space-bottom_none {
			margin-bottom: calc(-($content_bot_space + 10));
		}

		&_width-legend_more {
			@media screen and (width <= $event_sm-wide) {
				display: block;
			}
		}

		&_space_top {
			margin-top: 35px;
		}

		&__photo {
			margin-bottom: calc($content_bot_space + 10);
			width: 50%;
			box-sizing: border-box;
			padding-right: 12px;
			@media screen and (width <= $event_sm) {
				width: auto;
				padding-right: 0;
			}
		}

		&__photo-inner {
			display: inline-block;
		}

		&__desc {
			margin-bottom: calc($content_bot_space + 10);
			width: 50%;
			box-sizing: border-box;
			padding-left: 12px;
			@media screen and (width <= $event_sm) {
				width: auto;
				padding-left: 0;
			}
		}
		

		&_width-legend_more &__photo {
			width: 40%;
			@media screen and (width <= $event_sm-wide) {
				width: auto;
				padding-right: 0;
			}
		}

		&_width-legend_more &__desc {
			width: 60%;
			@media screen and (width <= $event_sm-wide) {
				width: auto;
				padding-left: 0;
			}
		}

		&__label {
			display: block;
			font-weight: bold;
		}

		&__line {
			display: block;
		}

		&__legend {
			display: flex;
			font-size: 20px;
			font-weight: bold;
			background: $main_color;
			padding: 12px 16px;
			@media screen and (width <= $event) {
				font-size: 14px;
			}
		}

		&__img {
			display: block;
		}

		&__date {
			color: $text_color_dark;
			padding-right: 10px;
			white-space: nowrap;
		}

		&__location {
			text-align: right;
			color: #fff;
			margin-left: auto;

		}


	}
	
/* event
------------------------------------------END--- */


/*  map
------------------------------------------------ */

	.map {
		border-top: 1px solid $border_color;
		border-bottom: 1px solid $border_color;
		&_space_bottom {
			margin-bottom: 40px;
		}
	}
	
/* map
------------------------------------------END--- */


/*  separator
------------------------------------------------ */

	.separator {
		height: 1px;
		background: $border_color;
		margin: calc($content_bot_space + 10) 0;

		&_space-top_none {
			margin-top: 0;
		}
	}
	
/* separator
------------------------------------------END--- */

/*  required
------------------------------------------------ */

	.required {
		color: $main_color;
	}
	
/* required
------------------------------------------END--- */


/*  label
------------------------------------------------ */

	.label {
		display: block;
		&_width_same {
			display: inline-block;
			width: 130px;
			box-sizing: border-box;
			padding-right: 14px;
			line-height: 1.2;
			text-align: right;
			@media screen and (width <= $mq_sm-less) {
				width: 100%;
				text-align: left;
			}
		}

		&_valign_top {
			vertical-align: top;
		}
	}
	
/* label
------------------------------------------END--- */


/*  form-line
------------------------------------------------ */

	.form-line {
		margin-bottom: 19px;
		&_actions {
			padding-left: 130px;
			width: 294px;
			text-align: right;
		}
		@media screen and (width <= $mq_sm-less) {
			width: auto;
			padding-left: 0;
		}
	}
	
/* form-line
------------------------------------------END--- */


/*  cite
------------------------------------------------ */

	.cite {
		font-size: 14px;
		text-align: right;
		font-style: italic;
		margin-bottom: 22px;

		&__author {
			font-weight: bold;
			display: block;
		}
	}
	
/* cite
------------------------------------------END--- */


/*  skype-icon
------------------------------------------------ */

	.skype-icon {
		width: 17px;
		height: 17px;
		display: inline-block;
		vertical-align: middle;
	}
	
/* skype-icon
------------------------------------------END--- */


/*  articles
------------------------------------------------ */

	.articles {
		display: flex;
		flex-wrap: wrap;
		margin-left: -24px;

		&__i {
			width: 50%;
			margin-bottom: 30px;
			padding-left: 24px;
			box-sizing: border-box;
			@media screen and (width <= $mq_smr) {
				width: auto;
			}
		}

		&__h {
			margin-bottom: 20px;
		}

		&__body {
			@mixin clearfix;
		}

		&__img {
			float: left;
			margin-right: 12px;
			margin-bottom: 5px;
		}
	}
	
/* articles
------------------------------------------END--- */


/*  content-img
------------------------------------------------ */

	.content-img {
		&_left {
			float: left;
			margin-right: 23px;
			margin-bottom: 10px;
			@media screen and (width <= $event_sm) {
				float: none;
			}
		}
	}
	
/* content-img
------------------------------------------END--- */


/* video
/* --------------------------------------------- */

.video {
	margin-bottom: 35px;
	&__body {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-bottom: 10px;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
		

/* video
/* ---------------------------------------END--- */


/* block
------------------------------------------------
	
	.block {
		$blue: #056ef0;
		$column: 20px;

		&__item {
			color: $blue;
			margin-bottom: $column;
			font-size: 35px;

			&_width_small {
				color: $blue;
			}
		}
	}
	
block
------------------------------------------END---


block2
------------------------------------------------

	.block2 {
		$blue: 200px;

		&__item {
			width: $blue;
			}
	}
	
block2
------------------------------------------END---

body {

	//background: #909059;
	width: 1000px;
	margin: auto;
	
}

.page {
	//background: green;

}


.u {
	@mixin link_u $link-color, $link-color_hover;
	//@mixin link_dashed;
}


.xx {
	@mixin link_visited $link-color, $link-color_hover, $link-color_visited;
	@mixin link_u #ff0000, green;
	@mixin link_dashed;
}

 */